
@{
    ViewBag.Title = "HomepageInfo";
    Layout = "~/Views/Account/Login.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
@*   <link type="text/css" rel="stylesheet" href="~/Content/MyCss/HomePage.css" scoped />*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/HomePageInfo.js"></script>
</head>
<section>
    <h2 id="HealTitle">HomepageInfo</h2>
    <div id="HealContent">内容</div>
    <div><span id="sdtime"></span></div>
</section>