:root {
    --main-color: #2672ff;
}

* {
    margin: 0;
    padding: 0;
}
input, textarea, select{
    outline:none;
}
/*主体样式*/

/*登陆注册框整体样式*/
.alllogin {
    width: 400px;
    height: 500px;
    position: fixed;
    z-index: 20000;
    background: #ffffff;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    border-radius: 5px;
}
/*遮罩*/
#mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19999;
    opacity: 0.3;
    display: none;
}
/***********登录框内部***********/
.closelogin {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.UserText {
    font-size: 23px;
    font-family: "微软雅黑";
}

.IsUser {
    float: right;
    margin-top: 10px;
}

.Skip {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.loginhead {
    width: 90%;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.logintext {
    padding-bottom: 5px;
    border-bottom: rgb(235, 231, 231) 1px solid;
}

.head-img {
    height: 100px;
    margin: 0 auto;
    padding-top: 50px;
}

.head-img img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: relative;
    border: 1px solid #cdcdcd;
    left: 50%;
    margin-left: -50px;
    transition: all 0.5s;
}

.head-img img:hover {
    border: 1px solid var(--main-color);
}

.Inputbox {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    /*background: #444444;*/
}

input {
    width: 200px;
    margin: 0;
    padding: 5px 6px 3px;
    border: 0px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    border-bottom: 1px solid #cdcdcd;
    outline: none;
    font-size:17px;
}

.TextTip {
    width: 300px;
    /* display: none; */
    /* visibility: hidden; */
    font-size: 14px;
}

.spanfalse {
    color: #f00;
    display:none;
}

.spantrue {
    color: #0c0;
    display: none;
}
.spanhidd {
    color: #f00;
    margin-left:50px;
    visibility:hidden;
}

.btnstyle {
    width: 250px;
    height: 40px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    transition: all 0.5s;
    color: #fff;
    background: var(--main-color);
    border-color: transparent;
    border-radius: 2px;
} 

.btnstyle:hover {
        opacity: 0.8;
    }
.graybtndis {
    background: rgb(211, 212, 211);
}
.redtext {
    color: red;
}

.greentext {
    color: green;
}
#loginbtn:active,
#registerbtn:active {
    color: var(--main-color);
}
.registerpage{
    display:none;
}
.loginpage {
    display: none;
}
/****************************导航栏****************************/
#navbar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 20px;
    background: #ffffff;
}

#navbar ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    margin: 0;
    text-align: center;
}

#navbar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 150px;
    -webkit-transition: all 0.5s;
}
#navbar .nav ul li a:hover {
    color: var(--main-color);
}
#navbar .gra {
    color: darkgray;
    width: 3px;
}

#navbar .nav-right {
    /* float: right; */
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0px;
}

#navbar .nav-right ul li {
    cursor: pointer;
    color: #000;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 0px;
}


#navbar .nav-right #login-btn,
#navbar .nav-right #register-btn {
    -webkit-transition: color 0.8s ease;
}

#navbar .nav-right #login-btn:hover {
    color: var(--main-color);
}

#navbar .nav-right #register-btn:hover {
    color: var(--main-color);
    opacity: 0.7;
}

.bottom-nav {
    height: 3px;
    width: 150px;
    background: var(--main-color);
    position: absolute;
    left: 0px;
    top: 78px;
    -webkit-transition: all 0.5s;
}

.disp {
    display: none;
}

.nav-login .img-tx {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.head_rightimg{
    border-radius:40px;
}

.img-arrow {
    width: 15px;
    height: 15px;
    margin-top: 25px;
    margin-left: -10px;
    transition: all 0.5s;
}

#navbar .imgli-tx {
    width: 40px !important;
}

.drop-down {
    width: 100px;
    /* height: 200px; */
    position: absolute;
    top: 61px;
    left: -30px;
    border: 1px solid rgb(220, 221, 220);
    overflow: hidden;
    font-size: 14px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
}

#navbar .drop-down ul li {
    line-height: 35px;
}

#navbar .drop-down ul li:hover {
    background: rgb(223, 223, 223);
    color: var(--main-color);
}
#color{
    width:200px;
    height:20px;
    position:absolute;
    top:-5px;
    right:-100px;
    margin-top:15px;
}
.circular{
    width:18px;
    height:18px;
    border-radius:18px;
    display:inline-block;
    margin-left:4px;
    background:#f3f0f0;
}
.circular img{
    width:100%;
}
    .circular:hover {
        box-shadow: 3px 3px 5px darkgray;
        cursor:pointer;
    }
    .circular:active {
        background:darkgray;
    }

.imgul-tx .drop-down ul li a{
    width: 100px !important;
}