body {
    width: 100%;
    height: 1200px;
    background: #f3f5f6;
}
.Question_session {
    width: 70%;
    height: 1000px;
    background: #fff;
    margin: 0 auto;
    margin-top:40px;
    padding-top:40px;
}
.Ques_head {
    border-bottom: 3px solid var(--main-color);
}
#Qu_centent {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.title_content{
    text-align:center;
    height:80px;
    margin-top:30px;
}
.prefix_content {
    height: 50px;
}
#Ques_centent{
    width:100%;
    height:100%;
}
.question_centent {
    width: 100%;
    height:auto;
    margin-top:20px;
}
.Q_title{
    margin-top:20px;
    height:40px;
    margin-left:10px;
}
.q_centent_wrap {
    height: 30px;
    margin-left:50px;
}
.q_seq{
    margin-right:5px;
}
/*input[type=checkbox]{
    width:20px;
    height:20px;
}*/