
@{
    ViewBag.Title = "PublishQuestion";
    Layout = "~/Views/Account/Login.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布问卷</title>
    <link type="text/css" rel="stylesheet" href="~/Content/MyCss/PublishQuestion.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/PublishQuestion.js"></script>

</head>
<body>
    <section>
        <div id="Question_left"></div>
        <div id="Question_right"></div>
    </section>
</body>