
@{
    ViewBag.Title = "PublishQuestion";
    Layout = "~/Views/Account/Login.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布问卷</title>
    <link type="text/css" rel="stylesheet" href="~/Content/MyCss/PublishQuestion.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/PublishQuestion.js"></script>

</head>
<body>
    <section id="Question_session">
        <div id="Question_left">
            <div class="type_module">
                <h3>选择题</h3>
                <p class="type_item" id="radiobtn">
                    <img class="type_img" src="~/Img/radio.png" />单选题
                </p>
                <p class="type_item" id="checkbtn">
                    <img class="type_img" src="~/Img/radio.png" />多选题
                </p>
            </div>
            <div class="type_module">
                <h3>填空题</h3>
                <p class="type_item" id="textbtn">
                    <img class="type_img" src="~/Img/radio.png" />填空题
                </p>
            </div>
            <div class="type_module">
                <h3>个人信息</h3>
                <p class="type_item" id="namebtn">
                    <img class="type_img" src="~/Img/radio.png" />姓名
                </p>
                <p class="type_item" id="phonebtn">
                    <img class="type_img" src="~/Img/radio.png" />手机
                </p>
                <p class="type_item" id="emailbtn">
                    <img class="type_img" src="~/Img/radio.png" />邮箱
                </p>
                <p class="type_item" id="sexbtn">
                    <img class="type_img" src="~/Img/radio.png" />性别
                </p>
                <p class="type_item" id="agebtn">
                    <img class="type_img" src="~/Img/radio.png" />年龄
                </p>
                <p class="type_item" id="qbtn">
                    <img class="type_img" src="~/Img/radio.png" />QQ号
                </p>
            </div>
        </div>
        <div id="Question_right">
            <div class="right_content">
                <!--问卷标题-->
                <div class="survey_prefix_wrap">
                    <div class="survey_title">
                        <div class="title_content Dottedline" contenteditable="true">
                            <p>问卷标题</p>
                        </div>
                    </div>
                    <div class="survey_prefix">
                        <div class="prefix_content Dottedline" contenteditable="true">
                            感谢您能抽出几分钟时间来参加本次答题，现在我们就马上开始吧！
                        </div>
                    </div>
                </div>
                <!--内容为空时显示-->
                <div class="question_null_tip">
                    <img src="~/Img/clickimg.png" />&nbsp;&nbsp;点击题型即可添加
                </div>

                @*<!--单选框-->
         <div class="question_centent " tabindex="0">
        <div class="q_title_wrap ">
        <div class="q_seq">1</div>
        <div class="radio_title Dottedline" contenteditable="true">
            <p>单选题</p>
        </div>
        <img src="~/Img/delimg.png" class="disp" />
        </div>
        <!--选项-->
        <div class="q_centent_wrap">
            <div class="q_optionval">
                <div class="radio_centent_wrap Q_option">
                    <div class="radio_img" contenteditable="false"></div>
                    <div class="ques_centent Q_option_value" contenteditable="true">选项1</div>
                </div>
                <img src="~/Img/delziimg.png" class="disp" />
            </div>
        </div>
        <!--选项结束-->
        <!--选项-->
        <div class="q_centent_wrap">
            <div class="q_optionval">
                <div class="radio_centent_wrap Q_option">
                    <div class="radio_img" contenteditable="false"></div>
                    <div class="ques_centent Q_option_value" contenteditable="true">选项1</div>
                </div>
                <img src="~/Img/delziimg.png" class="disp deloption" />
            </div>
        </div>
        <!--选项结束-->
             <div class="addoption_centent disp"><div class="addoption"><img src="~/Img/addoption.png" />添加单个选项</div></div>
        </div>
        <!--单选框结束-->*@



                @*<!--单选框-->
                <div class="question_centent " tabindex="0">
                    <div class="q_title_wrap ">
                        <div class="q_seq">1</div>
                        <div class="radio_title Dottedline" contenteditable="true">
                            <p class="Q_title">单选题</p>
                        </div>
                        <img src="~/Img/delimg.png" class="disp" />
                    </div>
                    <div class="q_centent_wrap">
                        <div class="q_optionval">
                            <div class="radio_centent_wrap Q_option">
                                <div class="radio_img" contenteditable="false"></div>
                                <div class="ques_centent Q_option_value" >男</div>
                            </div>
                        </div>
                    </div>
                    <!--选项-->
                    <div class="q_centent_wrap">
                        <div class="q_optionval">
                            <div class="radio_centent_wrap Q_option">
                                <div class="radio_img" contenteditable="false"></div>
                                <div class="ques_centent Q_option_value">女</div>
                            </div>
                        </div>
                    </div>
                    <!--选项结束-->
                </div>
        <!--单选框结束-->*@
                <div id="footend">
                    <div class="Q_foot_title radio_title Dottedline" " contenteditable="true">您已完成本次问卷，感谢您的帮助与支持</div>
                    <div id="subbtn">发布</div>
                </div>
            </div>
        </div>
    </section>
</body>