
@{
    ViewBag.Title = "Jumppage";
    Layout = "~/Views/Account/Login.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息</title>
    <link type="text/css" rel="stylesheet" href="~/Content/MyCss/Jumppage.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/Jumppage.js"></script>
    <script src="~/Scripts/juery-form.js"></script>

</head>
<body>
    <img src="~/Img/dongmanren.png" class="per"/>
    <section>
        <img src="~/Img/textdui.png"/>
        <div class="jumpcentent">
            <h2>您的<span id="msg"></span>成功！</h2>
            <div>
                <span id="Timemin">3</span><span>秒后跳入至上一页</span>
            </div>
        </div>
    </section>
</body>