
@{
    ViewBag.Title = "Drafts";
    Layout = "~/Views/Account/Login.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>填写问卷</title>
    <link type="text/css" rel="stylesheet" href="~/Content/MyCss/Drafts.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/Drafts.js"></script>
</head>
<body>
    <section class="Q_listBox">
        <div class="list_centent">
            <ul id="listul">
                @*<li>
                        <a href="#">
                            <div class="icon">资讯</div>
                            <div class="q_title">居民健康生活调查统计问卷手机端还是低是滴是滴</div><br /><span class="edit_time">20小时前</span>
                            <div class="delimg">发布</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon">资讯</div>
                            <div class="q_title">居民健康生活调查统计问卷手机端还是低是滴是滴</div><br /><span class="edit_time">20小时前</span>
                            <div class="delimg disp"><img src="~/Img/delgray.png" /></div>
                        </a>
                    </li>*@
            </ul>
        </div>
    </section>
</body>