
@{
    ViewBag.Title = "Login";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/MyScript/login.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/MyCss/login.css" />
</head>
<body id="alllogin">
    <!--正文-->
    <nav id="navbar">
        <div class="nav">
            <ul>
                <li><a href="~/HomePage/HomePage">首页</a></li>
                <li class="gra">|</li>
                <li><a href="">健康资讯</a></li>
                <li class="gra">|</li>
                <li><a href="">健康养生</a></li>
                <li class="gra">|</li>
                <li><a href="">美容护肤</a></li>
                <li class="gra">|</li>
                <li><a href="">养身</a></li>
            </ul>
        </div>

        <div class="nav-right nav-login " id="nav-log">
            <ul>
                <li id="loginbtn">登录</li>
                <li id="registerbtn">注册</li>
            </ul>
        </div>
        <div class="nav-right nav-login disp" id="nav-tx">
            <ul id="imgul-tx">
                <li class="imgli-tx">
                    <img class="img-tx"id="head_rightimg" src="~/img/UserImg/moren.png" />
                </li>
                <li class="imgli-tx">
                    <img class="img-arrow" src="~/Img/arrow-ios-downward-o.png" />
                </li>
                <div class="drop-down ">
                    <ul>
                        <li><a href="~/Personalinfo/Personalinfo" id="personbtn">个人信息</a></li>
                        <li><a href="#" >我的問卷</a></li>
                        <li><a href="#" >退出</a></li>
                    </ul>
                </div>
            </ul>

        </div>
        <div class="bottom-nav"></div>
    </nav>

    <!--      End        -->
    <!--登陆-->
    <div class="alllogin loginpage">
        <span class="closelogin">x</span><br />
        <div class="loginhead">
            <p class="logintext">
                <span class="UserText">用户登录</span>
                <span class="IsUser">还没有账号？<span id="loginSkip" class="Skip">立即注册</span></span>
            </p>

            <div class="head-img">
                <img src="~/Img/UserImg/moren.png">
            </div>
        </div>
        <form action="">
            <p class="Inputbox">
                用户名&nbsp;<input id="loginName" type="text" class="UserName"><br />

            </p>
            <p class="Inputbox">
                密&nbsp;&nbsp;&nbsp;码&nbsp;<input id="loginPwd" type="text" class="PassWord"><br />

            </p>
            <span class="TextTip spanhidd">*用户名或密码不正确</span><br />
            <button id="btnLogin" class="btnstyle" style="margin-top: 40px;">登陆</button>
        </form>
    </div>
    <!--注册-->
    <div class="alllogin registerpage">
        <span class="closelogin">x</span><br />
        <div class="loginhead">
            <p class="logintext">
                <span class="UserText">用户注册</span>
                <span class="IsUser">已有账号？<span id="registerSkip" class="Skip">立即登陆</span></span>
            </p>
        </div>
        <form action="">
            <p class="Inputbox">
                用户名&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="UserName"><br />
                <img id="imgWaiting" height="20px" width="20px" src="~/Img/0.gif" />

                <span class="TextTip spantrue" id="resulttrue">*用户名可用</span>
                <span class="TextTip spanfalse" id="result">*由字母、数字、_组成，非数字开头,4~17位</span>
            </p>
            <p class="Inputbox">
                密&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="password1"><br />
                <span class="TextTip spantrue">*输入正确</span>
                <span class="TextTip spanfalse">*密码必须由字符组成，长度为4~18位</span>
            </p>
            <p class="Inputbox">
                确认密码&nbsp;<input type="password" id="password2"><br />
                <span class="TextTip spantrue">*输入正确</span>
                <span class="TextTip spanfalse">*两次输入的密码不一致</span>
            </p>
            <p class="Inputbox">
                QQ号码&nbsp;&nbsp;<input type="text" id="userQQ"><br />
                <span class="TextTip spantrue">*输入正确</span>
                <span class="TextTip spanfalse">*请输入正确的QQ号码</span>
            </p>
            <p class="Inputbox">
                邮&nbsp;&nbsp;&nbsp;箱&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="userEmail"><br />
                <span class="TextTip spantrue">*输入正确</span>
                <span class="TextTip spanfalse">*您输入的邮箱账号格式有误</span>
            </p>
            <p class="Inputbox">
                验证码&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="Vcode" style="width:100px;"><button type="button" id="VerificationCode" class="btnstyle" style="width:80px;">获取验证码</button><br />
                <span class="TextTip spantrue">*输入正确</span>
                <span class="TextTip spanfalse">*验证码错误</span>
            </p>
            <button id="btnRegist" class="btnstyle" style="margin-top: 40px;">注册</button>
        </form>

    </div>
    <div id="color">
        <div id="red" class="circular"><img src="~/Img/redfu.png"></div>
        <div id="green" class="circular"><img src="~/Img/greenfu.png"></div>
        <div id="blue" class="circular"><img src="~/Img/bluefu.png"></div>
    </div>
    @RenderBody()
</body>
